.container
  .row
    .col-md-3
      .panel.panel-default
        %ul.nav.nav-pills.nav-stacked
          %li= link_to 'レビューなど', companies_engineers_path
    .col-md-9
      - @projects.each do |project|
        .panel.panel-default
          .panel-heading= link_to project.title, [:engineers, project]
          .panel-body= project.note.truncate(90)
