//
// カスタム変数の定義
// Bootstrap関連の変更は_bootstrap-variablesでoverrideすること
//

// service colors
$color-white: #fff;
$color-twitter: #78caef;
$color-facebook: #517ABB;
$color-google: #dc4e42;
$color-line: #00c400;
