.page-header
  %h1= title t('.title')

.container
  .row
    .table-responsive
      %table.table.table-striped.table-bordered.table-condensed.table-hover
        %thead
          %tr
            %th
            - t('date.abbr_day_names').each do |week_day|
              %th= week_day
        %tbody
          - 8.upto(21) do |hour|
            %tr
              %td.text-center= format '%02d', hour
              - t('date.abbr_day_names').each.with_index(0) do |week_day, wday|
                %td{ class: filled_hour?(@interview_hours, wday, hour) ? 'bg-warning' : '' }
                  %div#edit_index-modal.modal.fade{ tabindex: '-1', role: 'dialog', 'aria-hidden': 'true' }
