 // @TODO 時間をクリックしたら編集ページに遷移
//       日付/時間をフォーマット
//       前週・翌週・月ごとにページを変更できるようにする

.container
  .page-header
    = link_to companies_interview_hours_path, method: :post, class: 'btn btn-default' do
      %span.glyphicon.glyphicon-list-alt
      反映する
    %h1= title t '.title'

.container
  .row
    .table-responsive.col-md-12
      %table.table.table-striped.table-bordered.table-condensed.table-hover
        %thead
          %tr
            %th
            - find_one_week.each do |week_day|
              %th= week_day
        %tbody
          - 8.upto(21) do |hour|
            %tr
              %td.text-center= format '%02d', hour
              - find_one_week.each.with_index(0) do |day|
                %td{ class: filled_interview_hour?(@interview_hours, day, hour) ? 'bg-warning' : '' }
